
<!--<img src="iphone.jpg" class="img-responsive" alt="Responsive image">-->


<div style="background-image:url(SVpeople1366x884.jpg); border:1px solid black; margin: 0px; background-repeat:no-repeat;">


 
     <!--<div id="background" />-->

 <div class="container">

  <section class="content-section video-section">

  <div class="row">

    <!--row for slogan-->
    
  

  </div>



  <div class="row">

  <div class = "col-lg-4">

    <form class="form-horizontal" role="form" action="/users" class="new_user" id="new_user" method="post" style="margin-top: 30px;">
              

            <div class="form-group">
              <label for="user_name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="user_name" placeholder="Name" name="user[name]">
                </div>
            </div>
            
            <div class="form-group">
              <label for="user_email" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-8">
               <input type="email" class="form-control color:#000" id="user_email" placeholder="Email" name="user[email]">
              </div>
            </div>
         
         
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-4">
                <button type="submit" class="btn">Keep me Qawmly updated</button>
              </div>
            </div>
            <p class="help-block">(Only important updates will be sent, your email is never shared or sold to anyone else)</p>
            
        </form>

    

        
    </div>  <!-- end of div card col-->

    

  <div class="col-md-4">
     
     
        

        <img style="width:100%; margin-top: 50px;" class="img-responsive" src="phonewithapp.png" />

                <!--end of image-->
     
  </div>


        <div style="margin-top: 100px;" class="col-lg-4 left-block">

           <img src="qtransparent.png" style="top: 10px;" class="img-responsive center-block" alt="responsive image" bgcolor="#333333">


             <blockquote>
                  <h3>
                    Putting traveler safety and security in the hands of the traveler 
                  </h3>
              <footer class="text-center"> Stabilitas Ventures 
        

        <div class="social">
                       <a href="https://www.facebook.com/rem.mcintosh" class="[   social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                       <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                      

                       <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                    </div>

      </footer>
  </blockquote>

              

                       </div>  <!--end of info card col-->
                     </div>  <!--end of row-->
</section>

</div><!-- end of top container-->


<!--About Us-->

<div class= "container" style="margin-top: 140px;">

  <div class="row">
            <div class="col-sm-12 col-lg-12">
                <a id ="AboutUs"> </a>
                <h1 class="h1 text-center" style="color: #D8782D;">
                    About Us</h1>
            </div>
        </div>

  <div class="row">
   <div class="col-lg-offset-2 col-md-4">
      <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="greg.png" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Greg Adams - CEO</h3>
        <em>click for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Greg</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="greg.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Greg Adams <small>USA</small></h3>
                    <span><strong>Background: </strong></span>

                        <span class="label label-warning">Army Green Beret</span>
                        <span class="label label-info">Tech Banking</span>
                        <span class="label label-success">Physics undergrad</span>
                        
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        is a former Army Special Forces officer and graduate of Harvard’s MBA and MPA in International Development programs. During his graduate studies, he worked on mobile money innovations for Afghanistan and investment banking in the technology space. His thesis effort explored drivers of stability in conflict zones.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok, That's Greg</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    


</div>

<!--second about us-->
<div class="col-md-4">
<div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal2"><img src="chris.png" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Chris Hurst - COO </h3>
        <em>click for more</em>
    </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Chris</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="chris.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Chris Hurst <small>USA</small></h3>
                    <span><strong>Background: </strong></span>

                    
                        <span class="label label-warning">Mercy Corps</span>
                        <span class="label label-info">Business & Infrastucture Consulting</span>
                        <span class="label label-success">Engineering undergrad</span>
                        
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        is a former Army Engineer officer and infrastructure master planner in conflict zones.  He is a graduate of Harvard’s MBA and MPA in International Development program and West Point. 

                        Upon graduation, Chris was awarded a one-year HBS leadership fellowship with Mercy Corps, an international relief NGO operating in crisis areas.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok, I know about Chris</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
  </div>
</div> <!--end of about us row-->


<div class="container">
  <div class="row">
  <div class="col-lg-offset-1 center line-shadow">
  <img alt="Line-shadow" src="//assets.strikingly.com/assets/themes/app/line-shadow-71f31e5c39041a510f342a16243434ea.png">
  </div>
  </div>
  </div>  <!--end of shadow line container-->

</div>  <!--end of about us container-->

<div class="container">

  
    
        <div class="row">
            <div class="col-sm-12 col-lg-12">
              <a id ="ContactUs"> </a>
                <h1 class="h1 text-center" style="color: #D8782D;">
                    Contact us</h1>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn pull-right" style="background-color: #D8782D; color:#FFF;" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Stabilitas Ventures</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Direct E-mail</strong><br>
                <a href="mailto:#">info@stabilitasventures.com</a>
            </address>
            </form>
        </div>
    </div>

    <div class="container">
  <div class="row">
  <div class="col-lg-offset-1 center line-shadow">
  <img alt="Line-shadow" src="//assets.strikingly.com/assets/themes/app/line-shadow-71f31e5c39041a510f342a16243434ea.png">
  </div>
  </div>
  </div>  <!--end of shadow line container-->

</div>  <!--end of contact us container-->

<div class= "container-fluid">  <!--info card container-->
  <div class="row">
    <div class="col-lg-offset-4 center col-lg-4">
        <a id ="WhatIsQawm"> </a>
  <div class="[ info-card ]">
                  <img style="width: 100%" class="img-responsive" src="kahmlytempus_2.png" />
                   <div class="[ info-card-details ] animate">
                  <div class="[ info-card-header ]">
                    <h1> Stabilitas Ventures </h1>
                    <h3> A Veteran Owned Operation </h3>
                    <h2> Connect With Us </h2>
                  </div>
                  <div class="[ info-card-detail ]">
                   <!-- Description -->
                   <p>Qawm is a basic social unit of Afghanistan that is based on kinship, residence, or occupation.  It is sometimes translated as "tribe", but the qawm relationship may cross tribal or even ethnic boundaries.</p>
                   <div class="social">
                       <a href="https://www.facebook.com/rem.mcintosh" class="[   social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                       <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                       <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>



             
                     </div>
                  </div> <!--end of infocard detail-->

              </div><!--end of infocard detail-->
          </div> <!--end of info card-->

                    
          </div> <!--end of info card cols-->
        </div><!--end of info card row-->

</div>  <!--end of info card container-->

<div class="container">
                     <div class="row">
    
                        <div class="col-lg-offset-1 center line-shadow">
                           <img alt="Line-shadow" src="//assets.strikingly.com/assets/themes/app/line-shadow-71f31e5c39041a510f342a16243434ea.png">
                        </div>
                      </div> 
  
                  </div>  <!--end of shadow line container-->

<div class="container">  <!--beginning social media container-->
   <div class="row">
    <div class="col-lg-offset-5 center col-lg-3">
    <div class="social">
                       <a href="https://www.facebook.com/rem.mcintosh" class="[   social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                       <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                      

                       <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                    </div>
         </div>  <!--end of social columns-->
      </div>  <!--end of social row-->
  </div>  <!--end of social container-->

  

</div>  <!--end of background image-->

  

<!--</div>-->

<script type="text/javascript">
$(document).ready(function () {

    $(".player").mb_YTPlayer();

});


$(document).ready(function () {

    $(".player2").mb_YTPlayer();

});
</script>


