
<!--<img src="iphone.jpg" class="img-responsive" alt="Responsive image">-->


 
       

 <div class="container">

        <div id="background" class="text-center">
                <h1>Qawm is a basic social unit of 
                  Afghanistan that is based on kinship, residence, or occupation. 
                </h1>
             </div>

  <section class="content-section video-section">

             
           <div class="pattern-overlay">

            <a id="qawmlyintro" class="player2 center-block" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA', quality:'large', autoPlay:true, mute:true, opacity:1}">b</a>

  <div class="row">

    <!--row for slogan-->
    
   <img src="qtransparent.png" class="img-responsive left-block" alt="responsive image" bgcolor="#333333">

  </div>

 <div class="row">

   <blockquote><h3>
    Putting traveler safety and security in the hands of the traveler </h3>
      <footer class="text-right"> Stabilitas Ventures 
        <div class="social">
                       <a href="https://www.facebook.com/rem.mcintosh" class="[   social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                       <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                      

                       <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                    </div>

      </footer>
  </blockquote>

  
  </div>

  <div class="row">

  <div class = "col-lg-4">

    <form class="form-horizontal" role="form" action="/users" class="new_user" id="new_user" method="post">
              

            <div class="form-group">
              <label for="user_name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="user_name" placeholder="Name" name="user[name]">
                </div>
            </div>
            
            <div class="form-group">
              <label for="user_email" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-8">
               <input type="email" class="form-control color:#000" id="user_email" placeholder="Email" name="user[email]">
              </div>
            </div>
         
         
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-4">
                <button type="submit" class="btn">Keep me Qawmly updated</button>
              </div>
            </div>
            <p class="help-block">(Only important updates will be sent, your email is never shared or sold to anyone else)</p>
            
        </form>

    

        
    </div>  <!-- end of div card col-->

    

  <div class="col-md-4">
     
     
        

        <video id="example_video_1" width="300" height="550" class="video-js vjs-default-skin" controls preload="auto" autoplay="true"  loop="true", poster="iphone.jpg" data-setup="{}">
        <source src="qawmlybeta.mp4" type='video/mp4' />
      
        </video>
        <!--end of image-->
     
        </div>


        <div class="col-lg-4">


            <div class="[ info-card ]">
                  <img style="width: 100%" class="img-responsive" src="kahmelite.png" />
                   <div class="[ info-card-details ] animate">
                  <div class="[ info-card-header ]">
                    <h1> Stabilitas Ventures </h1>
                    <h3> A Veteran Owned Operation </h3>
                    <h2> Connect With Us </h2>
                  </div>
                  <div class="[ info-card-detail ]">
                   <!-- Description -->
                   <p>Qawm is a basic social unit of Afghanistan that is based on kinship, residence, or occupation.  It is sometimes translated as "tribe", but the qawm relationship may cross tribal or even ethnic boundaries.</p>
                   <div class="social">
                       <a href="https://www.facebook.com/rem.mcintosh" class="[   social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

                       <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

                      

                       <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
              </div>
        </div>  <!-- end of info card-->


             
      </div>




      </div> <!--end of container-->





<!--</div> <!--end of container-->

</section>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $(".player").mb_YTPlayer();

});


$(document).ready(function () {

    $(".player2").mb_YTPlayer();

});
</script>


